<div class="center-element">

  <div *ngIf="errorMessage != null" class="alert alert-danger alert-dismissible">
    {{errorMessage}}
    <button (click)="errorMessage = null" aria-label="Close" class="btn-close" data-bs-dismiss="alert"
            type="button"></button>
  </div>

  <div *ngIf="successMessage !== ''" class="alert alert-success alert-dismissible">
    {{ successMessage }}
    <button (click)="successMessage = ''" aria-label="Close" class="btn-close" data-bs-dismiss="alert"
            type="button"></button>
  </div>


  <form (submit)="register()">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input [(ngModel)]="username" class="form-control" name="name" placeholder="Enter a username" required
             type="text">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input [(ngModel)]="password" class="form-control" name="password" placeholder="Enter a password" required
             type="password">
    </div>
    <button [disabled]="!canRegister()" class="btn w-100 ">Register</button>
  </form>

</div>
