<div class="alert alert-danger alert-dismissible" *ngIf="errorMessage != null">
  {{errorMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="errorMessage = null"></button>
</div>

<div class="alert alert-success alert-dismissible" *ngIf="successMessage !== ''">
  {{ successMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="successMessage = ''"></button>
</div>


<form (submit)="register()">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="name" type="text" class="form-control" [(ngModel)]="username" required placeholder="Enter a username">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" [(ngModel)]="password" required placeholder="Enter a password">
  </div>
  <button class="btn w-100 " [disabled]="!canRegister()">Register</button>
</form>
