<div *ngIf="!isLoggedIn">
  <app-login [authService]="authService" (loggedIn)="load()"></app-login>
</div>

<div *ngIf="isLoggedIn">

  <div class="row">
    <div class="col-10 d-flex justify-content-end "> <h2>Welcome, {{ loggedInUsername }}!</h2></div>
    <div class="col-2 d-flex justify-content-end align-items-center">
      <button class="btn btn-outline-secondary" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="row" >

    <h4 class="title">Messages</h4>
    <hr>
      <div class="message-list-container box-container mb-2">
        <app-message-list [messages]="messages"></app-message-list>
      </div>
      <div class="mt-2">
        <app-create-message (created)="load()"></app-create-message>
      </div>
  </div>
</div>
