<div *ngIf="!isLoggedIn">
  <h4 class="title">Login</h4>
  <hr>
  <app-login [authService]="authService" (loggedIn)="load()"></app-login>
</div>

<div *ngIf="isLoggedIn">

  <div class="row">
    <div class="col-12 text-right">
      <button class="btn btn-sm btn-outline-secondary" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h4 class="title">Create News</h4>
      <hr>
      <app-create-message-auth (created)="load()"></app-create-message-auth>
    </div>
    <div class="col-8">
<!--      <h4 class="title">Latest News</h4>-->
<!--      <hr>-->
<!--      <wt2-news-details [news]="latest"></wt2-news-details>-->
<!--      <hr>-->
      <h4 class="title">All Messages</h4>
      <hr>
      <app-message-list [messages]="messages"></app-message-list>
    </div>
  </div>
</div>
