.btn
  border: 1px solid #99A98F
  border-radius: 3px
  border-width: 3px
  color: #99A98F
  font-weight: bold

.btn:hover
  background-color: #FFF8DE

.custom-text
  color: #99A98F

.message-list-container
  height: 380px
  overflow-y: scroll
  max-width: 100vw


.form-container
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  padding: 20px
  margin: 0 10px

.box-container
  border: 1px solid #99A98F
  border-radius: 5px
  border-width: 5px
  padding: 10px
  background-color: #FFF8DE

.hr-custom
  border-top: 1px dotted #99A98F
  border-radius: 5px
  border-width: 5px
