<div class="container">
  <h1>Angular Application</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <app-message-list [messages]="messages"></app-message-list>
    </div>
    <div class="col-md-6">
      <app-message-detail></app-message-detail>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <app-create-message (created)="load()"></app-create-message>
    </div>
    <div class="col-md-6">
      <app-edit-message></app-edit-message>
    </div>
    <div class="col-md-6">
      <app-delete-message></app-delete-message>
    </div>
  </div>
  <hr>

</div>
