<div *ngIf="errorMessage != null" class="alert alert-danger alert-dismissible">
  {{errorMessage}}
  <button (click)="errorMessage = null" aria-label="Close" class="btn-close" data-bs-dismiss="alert"
          type="button"></button>
</div>

<form (submit)="createMessage($event)">
  <div class="mb-3">
    <label class="form-label">Content <span [ngClass]="getCharsLeft() < 0 ? 'text-danger' : 'text-muted'">({{getCharsLeft()}})</span></label>
    <textarea [(ngModel)]="content" class="form-control" name="content" placeholder="Type something"
              required></textarea>
  </div>
  <button [disabled]="!canCreate" class="btn w-100 btn-outline-primary">Send Message</button>
</form>

