<div class="container mt-4">

  <div class="custom-container p-2 mx-auto">
    <p class="mb-1">Web Application Project</p>
    <p class="mb-0 smaller-text">group-g12</p>
  </div>

  <ul class="nav justify-content-end ">
    <li class="nav-item">
      <a class="nav-link" routerLink="/auth" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
    </li>
  </ul>

  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>

</div>
