
<!--<div style="background-color: #E3F4F4; padding-top: 10px;">-->

<div class="container mt-4">

<!--  <div  style="background-color: #C4DFDF;">-->
  <div class="custom-container p-3 mb-4 rounded-3">
<!--    <div style="background-color: #C4DFDF;">-->
  <div class="container-fluid">
<!--      <h3 class="d-flex">-->
<!--        <span class="flex-grow-4">Web Application Project</span>-->
<!--      </h3>-->
      <p>Web Application Project</p>
      <p class="mb-0 smaller-text">group-g12</p>
    </div>
  </div>
<!--  </div>-->

  <ul class="nav justify-content-end">
    <li class="nav-item" >
      <a class="nav-link rounded-5" routerLink="/auth" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-5" routerLink="/register" routerLinkActive="active">Register</a>
    </li>
  </ul>

  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
<!--</div>-->
<!--<div  style="background-color: #C4DFDF; padding-top: 10px;">-->





<!--  <div class="container">-->
<!--  <ul class="nav nav-tabs right-nav">-->
<!--&lt;!&ndash;    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/auth" routerLinkActive="active">Login</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="background-color: #D2E9E9;">-->
<!--  <div class="container ">-->
<!--  <div class=" p-3 rounded-3">-->
<!--    &lt;!&ndash;    <div style="background-color: #C4DFDF;">&ndash;&gt;-->
<!--    <div class="container-fluid">-->
<!--      <h3 class="d-flex">-->
<!--        <span class="flex-grow-1">Web Application Project</span>-->
<!--      </h3>-->
<!--      <p class="mb-0">group-g12</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<!--<div style="background-color: #E3F4F4; padding-top: 10px;">-->
<!--  <div class="container">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->


<!--<div style="background-color: #C4DFDF;">-->
<!--  <div class="container">-->
<!--    <ul class="nav nav-tabs right-nav">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/auth" routerLinkActive="active">Login</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="background-color: #D2E9E9;">-->
<!--  <div class="container">-->
<!--    <div class=" p-3 rounded-3">-->
<!--      &lt;!&ndash;    <div style="background-color: #C4DFDF;">&ndash;&gt;-->
<!--      <div class="container-fluid">-->
<!--        <h3 class="d-flex">-->
<!--          <span class="flex-grow-1">Web Application Project</span>-->
<!--        </h3>-->
<!--        <p class="mb-0">group-g12</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="background-color: #E3F4F4;">-->
<!--  <div class="container">-->
<!--    <div class="container">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="background-color: #F8F6F4;">-->
<!--  <div class="container">-->
<!--    &lt;!&ndash; Content for the fourth section &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
