<!--<h2>Message List</h2>-->
<ul>
  <li *ngFor="let message of messages" class="d-flex justify-content-between align-items-center mb-3">
    <ng-container *ngIf="!isEditing || message.id !== editedMessage.id">
      <div><span class="message-content">{{ message.content }}</span><br>
        <span class="text-muted">- from {{ message.sender }}</span></div>


    </ng-container>

    <ng-container *ngIf="isEditing && message.id === editedMessage.id">
      <input [(ngModel)]="editedMessage.content" type="text">
    </ng-container>

    <div class="d-flex">

      <button *ngIf="isEditing && message.id === editedMessage.id"
              class="btn btn-confirm-edit rounded-3 btn-sm btn-primary"
              (click)="editMessage()"> Confirm change
      </button>

    <button [disabled]="!(canModifyMessage(message) | async)"
            class="btn btn-edit rounded-5 btn-sm me-2"
            (click)="toEditMessage(message)">
      Edit
    </button>

    <button [disabled]="!(canModifyMessage(message) | async)"
            class="btn btn-delete btn-sm rounded-5 me-2"
            (click)="deleteMessage(message)">
      Delete
    </button>


    </div>
  </li>

</ul>
