<div class="alert alert-info" *ngIf="messages.length == 0">
  No messages available
</div>

<div class="list-group" *ngIf="messages.length > 0">
  <div class="list-group-item d-flex" *ngFor="let n of messages; let i = index" [class.list-group-item-primary]="i == 0">
    <div class="w-100 me-2">
      <h6 class="mb-0">{{n.message}} <span class="badge bg-primary" *ngIf="i == 0">Latest</span></h6>
    </div>
<!--    <div class="flex-shrink-0">-->
<!--      <small>{{n.sentOn | date}}</small>-->
<!--    </div>-->
  </div>
</div>

