<div class="alert alert-info" *ngIf="messages == null">
  Nothing to see here.
</div>

<div *ngIf="messages != null">
  <div class="text-muted d-flex align-items-center">
    <small class="flex-grow-1">{{messages.sentOn | date}}</small>
    <span class="badge bg-primary" *ngIf="messages.isSentToday">Today!</span>
  </div>
  <div class="mt-2">
<!--    <h5>{{messages.headline}}</h5>-->
    <div [innerHTML]="getTrustedHtml(messages.message)" *ngIf="allowHtmlContent"></div>
    <div *ngIf="!allowHtmlContent">
      {{messages.message}}
    </div>
  </div>
</div>
